include *.txt
include README.md
recursive-include django_fastbill/templates *
recursive-include django_fastbill/management *
recursive-include django_fastbill/migrations *

recursive-exclude django_fastbill/management *.pyc
recursive-exclude django_fastbill/management *.pyo
recursive-exclude django_fastbill/migrations *.pyc
recursive-exclude django_fastbill/migrations *.pyo